%h1{class: 'text-center'} Articles 
#tag_cloud
	- tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class| 
		= link_to tag.name, tag_path(tag.name), class: css_class

- @articles.each do |article|
	%h2= link_to article.name, article 
	= simple_format article.content 
	%p Tags: #{ raw article.tags.map(&:name).map{ |t| link_to t, tag_path(t)}.join(', ')}
	%p= link_to 'Edit Article', edit_article_path(article)
%p= link_to 'New Article', new_article_path 